body {
    margin: 0;
    background-color: #bfbfbf;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

header {
    height: 100px;
    width: 100%;
    background-color: #050506;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 6px 0px rgb(248, 131, 53);
}

header h1 {
    margin: 0;
    margin-left: 16px;
    font-size: 64px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
}

.head_logo {
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.head_logo img {
    height: 50px;
}

.search_box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search_box input {
    height: 32px;
    border-radius: 8px;
    font-size: 24px;
}

.search_box img {
    height: 34px;
    background-color: rgb(248, 131, 53);
    border-radius: 5px;
    cursor: pointer;
}
.main_container{
    display: flex;
    flex-direction: column;
}
.main_content {
    margin: 16px 8px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    justify-content: center;
}

.poke_box {
    width: 250px;
    height: 200px;
    border-radius: 16px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.poke_box_header {
    display: flex;
    justify-content: space-between;
    margin: 24px 12px 0 8px;

}
#pokeBoxId{
    font-size: 16px;    
}

.poke_box_content {
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.poke_box_content img {
    height: 80px;
}

.poke_box:hover .poke_box_content img{
    transform: scale(1.5);
}

.more_content_btn {
    height: 80px;
    width: 240px;
    justify-self: center;
    align-self: center;
    background-color: rgb(248, 131, 53);
    border: none;
    border-radius: 16px;
    font-family: sans-serif;
    font-size: 28px;
    color: white;
    cursor: pointer;
    margin-bottom: 16px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #3e3e3e;
    margin-top: auto;
}

@media (max-width: 600px) {
    header h1{
        display: none;
    }
}